*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opaque {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hidden-left {
  transform: translateX(-50%);
  transition: transform 0.7s linear;
  animation: opaque 0.5s ease;
  animation-fill-mode: forwards;
}

.hidden-right {
  transform: translateX(20%);
  transition: transform 0.7s linear;
  animation: opaque 0.5s ease;
  animation-fill-mode: forwards;
}

.hidden {
  animation: opaque 1s ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.show {
  animation: opacity 1s ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  color: rgb(238, 229, 218);
  min-height: 100vh;
  background-color: rgb(43, 40, 38);
  background-image: linear-gradient();
  overflow-x: hidden;
}
@media (min-width: 1023px) {
  body {
    font-size: 1.2rem;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 2rem auto 0 auto;
}
@media (min-width: 479px) {
  header {
    justify-content: end;
  }
}
@media (min-width: 1439px) {
  header {
    width: 70%;
  }
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  color: rgb(238, 229, 218);
  background-color: rgb(43, 40, 38);
  border: 1px solid rgb(238, 229, 218);
  font: inherit;
  height: 3rem;
  border-radius: 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
a:hover {
  background-color: #da917e;
}

button {
  background-color: rgb(238, 229, 218);
  font: inherit;
  font-weight: bold;
  width: 45%;
  height: 3.5rem;
  border-radius: 1.75rem;
  transition: all 0.5s ease;
  border: none;
  margin-top: 1.5rem;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  animation: opaque 0.5s ease;
  animation-fill-mode: forwards;
}
button:hover {
  background-color: #da917e;
}

.social_link {
  width: 3rem;
  margin-right: 1rem;
}
.social_link img {
  width: 55%;
  height: 55%;
}

.resume_link {
  padding: 0 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: center;
  align-items: center;
  margin: 5rem auto;
  width: 80%;
}
@media (min-width: 767px) {
  section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  section .content:nth-of-type(1) {
    margin-right: 2rem;
  }
}
@media (min-width: 1439px) {
  section {
    width: 70%;
  }
}
section h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
section h1 span {
  color: #da917e;
}
@media (min-width: 1023px) {
  section h1 {
    font-size: 3rem;
  }
}
section h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 2rem 0 0.75rem 0;
}
section img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  max-width: 520px;
}
section p, section li {
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .content {
    width: 50%;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  height: 4rem;
}

.section_hero {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.section_hero #h1-1 {
  opacity: 0;
  transition: all 0.7s ease;
}
.section_hero #h1-2 {
  opacity: 0;
  color: #da917e;
  transition: all 0.7s ease;
}
.section_hero button {
  opacity: 0;
  transition: all 0.7s ease;
  margin-bottom: 2rem;
}
.section_hero :has(img) {
  max-width: 405px;
}
@media (min-width: 767px) {
  .section_hero :has(img) {
    max-width: 520px;
    max-height: 520px;
  }
}

._heroslider {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  background-color: rgb(238, 229, 218);
  color: rgb(43, 40, 38);
  rotate: 2deg;
  overflow: hidden;
}
._heroslider .slider {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  background-color: rgb(238, 229, 218);
  height: 4rem;
}
._heroslider .slider ._item {
  margin: auto 3rem;
  padding-top: 0.3rem;
  padding-left: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
._heroslider .slider ._item p {
  position: absolute;
  left: 0px;
  top: 37%;
  line-height: 1.5rem;
  color: #da917e;
  font-weight: 800;
  font-size: 2.5rem;
  margin-right: 1rem;
}
._heroslider .slider:nth-of-type(1) {
  animation: marquee 10s linear infinite;
  user-select: none;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
._heroslider .slider:nth-of-type(2) {
  animation: marquee 10s linear infinite;
  user-select: none;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
._heroslider .slider:nth-of-type(3) {
  animation: marquee 10s linear infinite;
  user-select: none;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.section_about h1 {
  margin-bottom: 2rem;
}
.section_about h1:nth-of-type(1) {
  opacity: 0;
}
.section_about p {
  margin-bottom: 1rem;
  opacity: 0;
}
@media (min-width: 767px) {
  .section_about .content:nth-of-type(1) {
    width: 60%;
  }
}
.section_about .content:nth-of-type(2) {
  margin: 2rem auto;
  width: 90%;
}
@media (min-width: 767px) {
  .section_about .content:nth-of-type(2) {
    width: 40%;
  }
}

.tech_list {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  min-height: 64px;
  max-height: 120px;
}
.tech_list p {
  opacity: 1;
}

.bullet {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  align-items: center;
  margin: 0.5rem;
  user-select: none;
  min-width: 25%;
}
.bullet p {
  margin: auto 0;
}
.bullet_icon {
  position: relative;
  width: 25px;
  height: 15px;
  margin-right: 0.6rem;
}
.bullet_icon::before, .bullet_icon::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  transition: all 1s linear;
}
.bullet_icon::before {
  background-color: #99da7e;
}
.bullet_icon::after {
  left: 7px;
  top: 0;
  background-color: #da917e;
}
.bullet:hover .bullet_icon::before {
  transition: all 0.3s linear;
  box-shadow: 0px 0px 10px #99da7e;
}
.bullet:hover .bullet_icon::after {
  transition: all 0.3s linear;
  box-shadow: 0px 0px 10px #da917e;
}

.section_experience .job_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}
.section_experience .job_title p:nth-of-type(1) {
  font-weight: 600;
  color: #da917e;
  margin-right: 1rem;
}
.section_experience .job_title p:nth-of-type(2) {
  white-space: nowrap;
  color: darkgrey;
}
.section_experience li {
  letter-spacing: 0.028rem;
  line-height: 1.1rem;
}
.section_experience ul li:not(li:nth-of-type(1)) {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 1023px) {
  .section_experience ul li:not(li:nth-of-type(1)) {
    max-width: 85%;
  }
}
.section_experience ul li:not(li:nth-of-type(1))::before, .section_experience ul li:not(li:nth-of-type(1))::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  transition: all 1s linear;
}
.section_experience ul li:not(li:nth-of-type(1))::before {
  transition: all 1s linear;
  background-color: #99da7e;
  transform: translateY(-50%);
  top: 50%;
  left: 0px;
}
.section_experience ul li:not(li:nth-of-type(1))::after {
  transition: all 1s linear;
  background-color: #da917e;
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
}
.section_experience ul li:not(li:nth-of-type(1)):hover::before {
  transition: all 0.3s linear;
  box-shadow: 0px 0px 10px #99da7e;
}
.section_experience ul li:not(li:nth-of-type(1)):hover::after {
  transition: all 0.3s linear;
  box-shadow: 0px 0px 10px #da917e;
}

.section_skills h1 {
  opacity: 0;
  margin-bottom: 2rem;
  transition: all 0.7s ease;
}
.section_skills .content {
  width: 100%;
}
@media (min-width: 676px) {
  .section_skills ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }
}
.section_skills li {
  opacity: 0;
  position: relative;
  padding-left: 1rem;
}
@media (min-width: 767px) {
  .section_skills li {
    width: 33%;
  }
}
.section_skills li::before {
  transition: all 1s linear;
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  border-radius: 3px;
  left: 0;
  top: 0;
}
.section_skills li:nth-of-type(1)::before {
  background-color: #99da7e;
}
.section_skills li:nth-of-type(2)::before {
  background-color: #7ec7da;
}
.section_skills li:nth-of-type(3)::before {
  background-color: #bf7eda;
}
.section_skills li:hover::before {
  transition: all 0.3s linear;
  box-shadow: 0px 0px 5px #99da7e;
}

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  opacity: 0;
  z-index: -10;
}
.overlay :first-child {
  width: 85%;
  height: 50%;
  background-color: rgb(238, 229, 218);
  border-radius: 2rem;
}

.overlay_show {
  opacity: 1;
  z-index: 1;
  position: fixed;
  background-color: rgba(43, 40, 38, 0.3);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=index.css.map */
