// ====== TABLE OF CONTENTS ======
    // 1. - RESET (1.01 - END RESET)
    // 2. - VARIABLES & COLORS (2.01 - END VARIABLES)
    // 3. - MIXINS (3.01 - END MIXINS)
    // 4. - STYLING BY SECTIONS (4.01 - END STYLING BY SECTIONS)

// ===== 1. RESET ======
// https://www.boag.online/blog/css-reset

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

// ===== 1.01 END RESET ======
// =====
// ===== 2.0 VARIABLES & COLORS =====

$black:black;
$white:white;
$lightgrey:rgb(238, 229, 218);
$darkgrey:darkgrey;
$bg-color:rgb(43, 40, 38);
$bg-color30:rgba(43, 40, 38,.3);
$base-color:#da917e;
$secondary-color:#99da7e;
$secondary-color20:rgba(153, 218, 126,.12);
$tertiary-color:#7ec7da;
$quaderary-color:#bf7eda;

// ===== SCREEN SIZES
// 320px — 480px for mobile devices, 481px — 768px for iPads & tablets, 
// 769px — 1024px for small screens like laptop, 1025px — 1200px for 
// large screens like Desktops, and 1201px and above for extra large screens like TV.

$sm:320px;
$md:481px;
$lg:769px;
$xl:1025px;
$xxl:1200px;

// ===== 2.01 END VARIABLES & COLORS ======
// ===== 
// ===== 3.0 @MIXINS & ANIMATIONS=====

@mixin media($screenWidth){
    @media (min-width:$screenWidth){
        @content;
    }
}

@mixin flex($direction,$justify,$items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    justify-items: $items;
}

@mixin marquee($x1,$x2){
    @keyframes marquee{
        0%{
            transform: translateX($x1);
        }
        100%{
            transform: translateX($x2);
        }
   }
}

@mixin bullet($size,$radius){
    &::before,
    &::after{
        content:'';
        position: absolute;
        width: $size;
        height: $size;
        border-radius: $radius;
        transition: all 1s linear;
    }
}

@mixin opaque($duration,$delay){
    animation: opaque $duration ease-in;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

@mixin opacity($duration,$delay){
    animation: opacity $duration ease-in;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

@mixin opaque($duration,$delay){
    animation: opaque $duration ease-in;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

@mixin translate($x){
    transform: translateX($x);
    transition: transform .7s linear;
}

// ===== ANIMATIONS =====

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1
    }
}

@keyframes opaque{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

// ===== MODIFYING CLASSES =====
.hidden-left{
    @include translate(-50%);
    animation: opaque .5s ease;
    animation-fill-mode: forwards;
    
}

.hidden-right{
    @include translate(20%);
    animation: opaque .5s ease;
    animation-fill-mode: forwards;
}

.hidden{
    @include opaque(1s,0s)
}

.show{
    @include opacity(1s,0s);   
}

.scaleup{
    animation: scaleup .4s ease;
    animation-fill-mode: forwards;
        @keyframes scaleup{
            0%{
                transform:scale(0);
            }
            75%{
                transform: scale(1.1);
            }
            100%{
                transform: scale(1.0);
            }
        }
}

.scaledown{
        @keyframes scaledown{
            0%{
                transform:scale(1);
            }
            100%{
                transform: scale(0);
            }
        }
}
// ===== 3.01 END @MIXINS & ANIMATIONS =====
// =====
// ===== 4.0 BY SECTION ======

// ===== BASE STYLING =====

body{
    position: relative;
    background: radial-gradient(circle farthest-side at left center, $secondary-color20 0%, $bg-color 100%);
    @include flex(column,start,center);
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
    color: $lightgrey;
    min-height: 100vh;
    background-color: $bg-color;
    overflow-x: hidden;
    @include media(1023px){
        font-size: 1.2rem;
    }
}

header{
    @include flex(row,center,center);
    align-items:center;
    width: 80%;
    margin: 2rem auto 0 auto;

    @include media(479px){
        justify-content: end;
    }

    @include media(1439px){
        width: 70%
    }
}


button,
a{
    font: inherit;
    @include flex(row,center,center);
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
    text-decoration: none;
}

button{
    background-color: $lightgrey;
    font-weight: bold;
    width: 45%;
    height: 3.5rem;
    border-radius: 1.75rem;
    border: none;
    margin-top: 1.5rem;
    box-shadow: 6px 6px 8px rgba(0,0,0,.5);

    // from hidden-left and hidden-right
    animation: opaque .5s ease;
    animation-fill-mode: forwards;

    &:hover{
        background-color: $secondary-color;
    }
}

.social_link,
.resume_link,
.section_contact a{
    height: 3rem;
    border-radius: 1.5rem;
    color: $lightgrey;
    background-color: $bg-color;
    border: 1px solid $lightgrey;
    &:hover{
        background-color: $base-color;
    }
}

.social_link{
    width: 3rem;
    margin-right: 1rem;
    font-size: 0;
    img{
        width: 80%;
        height: 80%;
    }
}

.resume_link{
    padding: 0 2rem;
}

img{
    border-radius: 2rem
}

section{
    @include flex(column,start,center);
    align-items: center;
    margin: 5rem auto;
    width: 80%;

    @include media(767px){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .content:nth-of-type(1){
            margin-right: 2rem;
        }
    }

    @include media(1439px){
        width: 70%
    }

    h1{
        font-size: 2.5rem;
        font-weight: 900;
        & span{
            color: $base-color;
        }
        @include media(1023px){
            font-size: 3rem;
        }
    }

    h2{
        font-size: 1.7rem;
        font-weight: 700;
        margin: 3rem 0 .5rem 0;
    }

   img{
    width: 100%;
    height: 100%;
    max-width: 520px;
   }

   p,li{
    line-height: 1.5rem;
   }
}

.content{
    @include media(768px){
        width: 50%;
    }
}

footer{
    @include flex(row,center,center);
    height: 4rem;
}

// ===== HERO SECTION =====
.section_hero{
    margin-top: 8rem;
    margin-bottom:2.5rem;

    // 1st h1 in hero section
    #h1-1{
        opacity: 0;
        transition: all .7s ease;
    }
    
    // 2nd h1 in hero section
    #h1-2{
       opacity: 0;
        color: $base-color;
        transition: all .7s ease;
    }

    a{
        opacity: 0;
        transition: all .7s ease;
        margin-bottom: 2rem;
        color: $bg-color;
        background-color: $lightgrey;
        font-weight: bold;
        width: 15rem;
        height: 3.5rem;
        border-radius: 1.75rem;
        margin-top: 1.5rem;
        box-shadow: 6px 6px 8px rgba(0,0,0,.5);
        
        &:hover{
            background-color: $secondary-color;
        }
    }

    .content:has(img){
        max-width: 405px;
        @include media(767px){
            max-width: 480px;
            max-height: 480px;
        }
    }
}

._heroslider{
    // marquee slider
    // https://www.w3docs.com/snippets/css/how-to-have-the-marquee-effect-without-using-the-marquee-tag-with-css-javascript-and-jquery.html#result-8
    box-shadow: 0px 0px 1px 3px$lightgrey;
    @include flex(row,start,center);
    background-color: $lightgrey;
    color: $bg-color;
    transform: rotate(2deg);
    overflow:hidden;

    .slider{
        @include flex(row,start,center);
        background-color: $lightgrey;
        height: 4rem;

        ._item{
            margin: auto 3rem;
            padding-top: .3rem;
            padding-left: 2rem;
            position: relative;
            @include flex(row,space-between,center);
            align-items: center;
        p{
            position: absolute;
            left: 0px;
            top: 37%;
            line-height: 1.5rem;
            color: $base-color;
            font-weight: 800;
            font-size: 2.5rem;
            margin-right: 1rem;
        }
        }
    }

    .slider:nth-of-type(1){
        
        @include marquee(-100%,-0%);
        animation: marquee 12s linear infinite;
        user-select: none;
    }

    .slider:nth-of-type(2){
        @include marquee(-100%,0%); 
        animation: marquee 12s linear infinite;
        user-select: none;
    }

    .slider:nth-of-type(3){
        @include marquee(-100%,0%); 
        animation: marquee 12s linear infinite;
        user-select: none;
    }
}

// ===== ABOUT SECTION =====
.section_about{
    @include media(767px){
        margin-top:8rem;
    }
    

    h1{
        margin-bottom: 2rem;
    }

    h1:nth-of-type(1){
        opacity: 0;
    }


    p{
        opacity: 0;
    }

    p:nth-of-type(2){
        margin: 2rem 0 .7rem 0;
    }

    .content:nth-of-type(1){
        @include media(767px){
          width: 55%;  
        }
        
        // @include media(1023px){
        //     width: 63%;
        // }
    }

    .content:nth-of-type(2){
        margin: 2rem auto;
        width: 100%;
        @include media(767px){
            width: 45%;
            @include flex(row,end,center )
          }
    }
}

.tech_list{
    opacity: 0;
    @include flex(column,space-between,center);
    flex-wrap: wrap;
    min-height: 64px;
    max-height: 120px;
    p{
        opacity: 1;
    }
}

.bullet{
    @include flex(row,start,center);
    align-items: center;
    margin: .5rem;
    user-select: none;
    min-width: 25%;

    p{
        margin: auto 0;
    }

    &_icon{
        position: relative;
        width: 25px;
        height: 15px;
        margin-right: .6rem;
    
        @include bullet(15px,7.5px);

        &::before{
            background-color: $secondary-color;
        }
        &::after{
            left: 7px;
            top: 0;
            background-color: $base-color;
        }
    }

    &:hover{
        .bullet_icon::before{
            transition: all .3s linear;
            box-shadow: 0px 0px 10px $secondary-color;
        }
        .bullet_icon::after{
            transition: all .3s linear;
            box-shadow: 0px 0px 10px $base-color;
        }
    }
}

// ===== EXPERIENCE SECTION =====
.section_experience{

    .company{
        @include flex(row,space-between,center);
        align-items: flex-end;
        margin-bottom: 1.1rem ;
        @include media(767px){
            width: 65%;
        }

        p:nth-of-type(1){
            font-weight: 600;
            color: $base-color;
            margin-right: 1rem;
        }

        p:nth-of-type(2){
            white-space: nowrap;
            color: $darkgrey;
        }
    }

    li{
        letter-spacing: .028rem;
        line-height: 1.1rem;
        @include media(767px){
            max-width: 85%;
        }
    }
    // every li item except for the frist one
    ul li:not(li:nth-of-type(1)){
        
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: .55rem;
        @include bullet(9px,4.5px);

        &::before{
            transition: all 1s linear;
            background-color: $secondary-color;
            transform: translateY(-50%);
            top: 50%;
            left: 0px;
        }
        &::after{
            transition: all 1s linear;
            background-color: $base-color;
            transform: translateY(-50%);
            top: 50%;
            left: 5px;
        }

        &:hover{
            &::before{
                transition: all .3s linear;
                box-shadow: 0px 0px 10px $secondary-color;
            }
            &::after{
                transition: all .3s linear;
                box-shadow: 0px 0px 10px $base-color;
            }
        }
    }
}

.section_projects{
    @include flex(column,start,center);
    align-items: flex-start;

    // switch to flex row at 1023px
    @include media(1023px){
        @include flex(row,space-between,center)
    }

    h1{
        opacity: 0;
        margin-bottom: 2rem;
    }

    h2{
        opacity: 0;
        color:$base-color;
    }

    .content p{
        
        opacity:0;
    }

    .content_projects{
        margin-top: 2rem;
        display:grid;
        grid-template-areas: 
            'portrait1 square1'
            'portrait1 portrait2'
            'square2 portrait2';

        @include media(767px){
        grid-template-areas: 
            'portrait1 square1 portrait2'
            'portrait1 square2 portrait2';
        }

        @include media(1023px){
            margin-top: 0;
            
        }
    }

    .portrait,
    .square{
        transform: scale(0);
        margin: .5rem;
        transition: transform .8s ease;
       
        a{
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            :visited{
                img{
                    filter: grayscale(0);
                }
            }
            p{
                color: $bg-color;
                opacity: 1;
                position: fixed;
                top: 10%;
                
                // size,typography
                width: 90%;
                font-size: small;
                text-align: center;
                
                border-radius: 2rem;
                background-color: $lightgrey;
                padding: .6rem;



                @include media(767px){
                    opacity: 0;
                    font-size:medium;
                }
            }
        }

        img{
            background: white;
            border-radius: 1rem;
            object-fit: cover;
            transition: all .7s ease;
            @include media(767px){
                filter: grayscale(100%);
            }
        }

        :hover{
            transform: scale(1.01);
            transition: all .3s ease;
            img{
                filter: grayscale(0);
            }
            p{
                @include media(767px){
                transition: all 1s ease;
                opacity: 1;
                background-color: $lightgrey;
                color: $bg-color;
                box-shadow: 2px 2px 5px $bg-color;
                }
            }
        }
    }

    .square:nth-of-type(1n){
        grid-area: square1;
    }
    .square:nth-of-type(2n){
        grid-area: square2;
    }

    .portrait:nth-of-type(1n){
        grid-area: portrait1;
    }
    .portrait:nth-of-type(2n){
        grid-area: portrait2;
    }

}

.section_skills{
    h1{
        opacity: 0;
        margin-bottom: 2rem;
        transition: all .7s ease;
    }

    .content{
        width: 100%;
    }

    ul{
        @include media(1023px){
        @include flex(row,space-between,center)
        }
    }

    li{
        opacity: 0;
        position: relative;
        padding-left:1rem;
        padding-right: 1.5rem;
        @include media(1023px){
            width: 33%;
        }

        &::before{
            transition: all 1s linear;
            content: '';
            position: absolute;
            height: 100%;
            width: 6px;
            border-radius: 3px;
            left: 0;
            top: 0;
        }

        &:nth-of-type(1)::before{
            background-color: $secondary-color;
        }

        &:nth-of-type(2)::before{
            background-color: $tertiary-color;
        }

        &:nth-of-type(3)::before{
            background-color: $quaderary-color;
        }

        &:hover{
            &::before{
                transition: all .3s linear;
                box-shadow: 0px 0px 5px $secondary-color;
            }
        }
    }
}

// ===== CONTACT SECTION =====
.section_contact{
    @include flex(column,start,center);
    align-items: center;
    margin-bottom: 8rem;

    h1{
        transition: all .7s ease;
        opacity: 0;
        color: $base-color;
    }

    // for previous use of second contact link
    // &>a{
    //     opacity: 0;
    //     transition: all .7s ease;
    //     margin-bottom: 2rem;
    //     color: $bg-color;
    //     background-color: $lightgrey;
    //     font-weight: bold;
    //     width: 15rem;
    //     height: 3.5rem;
    //     border-radius: 1.75rem;
    //     margin-top: 1.5rem;
    //     box-shadow: 6px 6px 8px rgba(0,0,0,.5);
        
    //     &:hover{
    //         background-color: $secondary-color;
    //     }
    // }



    .content{
        
        transition: max-height .5s linear;
        animation: height .5s linear;
       
        width: 100%;
        overflow: hidden;
        @include flex(column,space-between,center);

        @include media(767px){
           width: clamp(500px,760px,50%);
        }

        // first child thats a div
        div:first-child {
            margin: 2rem auto;
            width: 100%;
            @include flex(column,center,center);
            align-items: center;

            a{
                width: 18rem;
            }

            a:nth-of-type(2){
                margin: 1rem auto;
            }

            @include media(767px){
                flex-direction:row;
                
                a:nth-of-type(1){
                    margin-right: 2rem;
                }
                a:nth-of-type(2){
                    margin: 0;
                }
            }
            
        }
    }

    

    form{
        @include flex(column,space-between,center);
        
        label{
            @include flex(column,end,center);
            align-items: center;
            width: 100%;
        
        }
        input,textarea{
            padding: .5rem 1rem;
            font-family: inherit;
            margin: .7rem auto;
            width: 100%;
            // height:3rem;
            outline: none;
            border-radius: 1.5rem;
            font-size: large;
        }

        textarea{
            resize: vertical;
            min-height: 10rem;
            height: 10rem;
        }

        // botboiinput
        label:nth-of-type(4){
            display: none;
            height: 0;
            opacity: 0;
        }
       
        button{
            @include opacity(0s,0s);
            margin:1rem auto;
        }
    }

    

}


// ====== OVERLAY =====

